<!--头部-->
<div id="index-header">
    <div class="index-top width1200">
        <div class="logo">
            <img src="/static/images/index/icon_logo.png">

        </div>
        <!--定位-->
        <div class="city">
            <p class="city-curr">
                广州
                <i class="layui-icon" style="font-size: 12px;">&#xe61a;</i>
            </p>
        </div>
        <ul class="title">
            <li>
                <p class="active">首页</p>
            </li>
            <li>
                <p>买车</p>
            </li>
            <li>
                <p>卖车</p>
            </li>
            <li>
                <p>帮办</p>
            </li>
            <li>
                <p>服务保障</p>
            </li>
            <li>
                <p>定制服务</p>
            </li>
            <li>
                <div class="call">
                    <img src="/static/images/index/top_call.png">
                </div>
                <span class="number">020-31075607</span>
            </li>
            <li>
                <p>APP</p>
            </li>
            <li>
                <div class="call">
                    <img src="/static/images/index/top_login_normal.png">
                </div>
                <span class="number">
                      登录/注册
                    </span>
            </li>
        </ul>
    </div>
</div>
<!--头部End-->