<!--轮播图-->
<div class="layui-carousel" id="test1">
  <div carousel-item>
    <div>
      <img src="/static/images/index/img_home_banner.png">
    </div>
    <div>
      <img src="/static/images/index/img_home_banner.png">
    </div>
  </div>
</div>
<!--轮播图End-->