<!--内容-->
<!--选项-->
<div id="content">
  <div class="content_select width1200">
    <div class="content_left">
      <!--买车-->
      <div class="buy_car">
        <div class="title">
          我要买车 <span class="title_min">一年不限里程质保</span>
        </div>
        <div class="brand">
          品牌
        </div>
        <i class="layui-icon" style="color: #999;">&#xe61a;</i>
        <div class="brand_car">
          <ul>
            <li>
              <img src="/static/images/index/icon_bran_1.jpg">
              <p>大众</p>
            </li>
            <li>
              <img src="/static/images/index/icon_bran_2.jpg ">
              <p>奔驰</p>
            </li>
            <li>
              <img src="/static/images/index/icon_bran_3.jpg ">
              <p>别克</p>
            </li>
            <li>
              <img src="/static/images/index/icon_bran_4.jpg ">
              <p>凯迪拉克</p>
            </li>
            <li>
              <img src="/static/images/index/icon_bran_5.jpg ">
              <p>标致</p>
            </li>
            <li>
              <img src="/static/images/index/icon_bran_6.jpg ">
              <p>雪费兰</p>
            </li>

            <li>
              <img src="/static/images/index/icon_bran_7.jpg ">
              <p>宝马</p>
            </li>
            <li>
              <img src="/static/images/index/icon_bran_8.png ">
              <p>奥迪</p>
            </li>
          </ul>
        </div>
      </div>
      <!--买车End-->
      <!--卖车-->
      <div class="sell_car ">
        <div class="title ">
          我要卖车 <span class="title_min ">平均7天售出</span>
        </div>
        <div class="sell_input ">
          <input type="text " name=" " placeholder="手机号码 (必填) ">
          <div class="button ">
            <button class="one ">我要卖车</button>
            <button class="two ">免费估价</button>
          </div>
        </div>
      </div>
    </div><!--  -->
    <!--卖车End-->

    <div class="content_right">
      <div class="search">
        <input type="text" placeholder="搜索您想要的车" class="input">
        <i></i>
        <ul class="search_text">
          <li>SUV</li>
          <li>别克</li>
          <li>奥迪</li>
        </ul>
      </div>
      <div class="models">
        <div class="brand">
          车型
        </div>
        <i class="layui-icon" style="color: #999;">&#xe61a;</i>

        <div class="type">
          <ul>
            <li>
              <img src="/static/images/index/icon_home_suv.png ">
              <p>SUV</p>
            </li>
            <li>
              <img src="/static/images/index/icon_home_compactness.png ">
              <p>紧凑型</p>
            </li>
            <li>
              <img src="/static/images/index/icon_home_medium.png ">
              <p>中型</p>
            </li>
            <li>
              <img src="/static/images/index/icon_home_tiny.png ">
              <p>微小型</p>
            </li>
            <li>
              <img src="/static/images/index/icon_home_mediumbig.png ">
              <p>中大型</p>
            </li>
            <li>
              <img src="/static/images/index/icon_home_mpv.png ">
              <p>MPV</p>
            </li>
            <li>
              <img src="/static/images/index/icon_home_sportscar.png ">
              <p>跑车</p>
            </li>

          </ul>
        </div>
      </div>
      <div class="models">
        <div class="brand">
          价格
        </div>
        <div class="price">
          <ul>
            <li>
              <p>8万以下</p>
            </li>
            <li>
              <p>8-10万</p>
            </li>
            <li>
              <p>10-15万</p>
            </li>
            <li>
              <p>15-20万</p>
            </li>
            <li>
              <p>20-30万</p>
            </li>
            </br>
            <li>
              <p>30-50万</p>
            </li>
            <li>
              <p>50万以上 </p>
            </li>

          </ul>
        </div>
      </div>

      <div style="margin-top: 68px;">
        <img src="/static/images/index/img_home_picture2.png" alt="">
      </div>
    </div>
  </div>
</div>
<!--选项End-->

<!--车列表-->
<div id="car_list">
  <div class="width1200">
    <div class="title">
      最新上架

      <span class="title_min">高性价比</span>
      <span class="title_min">认证好车</span>
      <span class="title_min">透明成交</span>

    </div>

    <div class="list">
      <ul>
        <li class="list_li">
          <a href="">
            <img src="/static/images/index/listCar.jpg" alt="">
            <div class="car_title">
              <p>斯巴鲁力狮2.0 CVT豪华版</p>
              <span class="price">25.48万</span>
            </div>
            <div class="car_content">
              <ul class="car_content_ul">
                <li>上牌:2010年</li>
                <li>里程:8万公里</li>
                <li>车源:济南市</li>
              </ul>
              <span>￥15.00 <i>万</i></span>
            </div>
          </a>
        </li>
        <li class="list_li">
          <a href="">
            <img src="/static/images/index/listCar.jpg" alt="">
            <div class="car_title">
              <p>斯巴鲁力狮2.0 CVT豪华版</p>
              <span class="price">25.48万</span>
            </div>
            <div class="car_content">
              <ul class="car_content_ul">
                <li>上牌:2010年</li>
                <li>里程:8万公里</li>
                <li>车源:济南市</li>
              </ul>
              <span>￥15.00 <i>万</i></span>
            </div>
          </a>
        </li>
        <li class="list_li">
          <a href="">
            <img src="/static/images/index/listCar.jpg" alt="">
            <div class="car_title">
              <p>斯巴鲁力狮2.0 CVT豪华版</p>
              <span class="price">25.48万</span>
            </div>
            <div class="car_content">
              <ul class="car_content_ul">
                <li>上牌:2010年</li>
                <li>里程:8万公里</li>
                <li>车源:济南市</li>
              </ul>
              <span>￥15.00 <i>万</i></span>
            </div>
          </a>
        </li>
        <li class="list_li">
          <a href="">
            <img src="/static/images/index/listCar.jpg" alt="">
            <div class="car_title">
              <p>斯巴鲁力狮2.0 CVT豪华版</p>
              <span class="price">25.48万</span>
            </div>
            <div class="car_content">
              <ul class="car_content_ul">
                <li>上牌:2010年</li>
                <li>里程:8万公里</li>
                <li>车源:济南市</li>
              </ul>
              <span>￥15.00 <i>万</i></span>
            </div>
          </a>
        </li>
        <li class="list_li">
          <a href="">
            <img src="/static/images/index/listCar.jpg" alt="">
            <div class="car_title">
              <p>斯巴鲁力狮2.0 CVT豪华版</p>
              <span class="price">25.48万</span>
            </div>
            <div class="car_content">
              <ul class="car_content_ul">
                <li>上牌:2010年</li>
                <li>里程:8万公里</li>
                <li>车源:济南市</li>
              </ul>
              <span>￥15.00 <i>万</i></span>
            </div>
          </a>
        </li>
        <li class="list_li">
          <a href="">
            <img src="/static/images/index/listCar.jpg" alt="">
            <div class="car_title">
              <p>斯巴鲁力狮2.0 CVT豪华版</p>
              <span class="price">25.48万</span>
            </div>
            <div class="car_content">
              <ul class="car_content_ul">
                <li>上牌:2010年</li>
                <li>里程:8万公里</li>
                <li>车源:济南市</li>
              </ul>
              <span>￥15.00 <i>万</i></span>
            </div>
          </a>
        </li>
        <li class="list_li">
          <a href="">
            <img src="/static/images/index/listCar.jpg" alt="">
            <div class="car_title">
              <p>斯巴鲁力狮2.0 CVT豪华版</p>
              <span class="price">25.48万</span>
            </div>
            <div class="car_content">
              <ul class="car_content_ul">
                <li>上牌:2010年</li>
                <li>里程:8万公里</li>
                <li>车源:济南市</li>
              </ul>
              <span>￥15.00 <i>万</i></span>
            </div>
          </a>
        </li>
        <li class="list_li">
          <a href="">
            <img src="/static/images/index/listCar.jpg" alt="">
            <div class="car_title">
              <p>斯巴鲁力狮2.0 CVT豪华版</p>
              <span class="price">25.48万</span>
            </div>
            <div class="car_content">
              <ul class="car_content_ul">
                <li>上牌:2010年</li>
                <li>里程:8万公里</li>
                <li>车源:济南市</li>
              </ul>
              <span>￥15.00 <i>万</i></span>
            </div>
          </a>
        </li>
        <li class="list_li">
          <a href="">
            <img src="/static/images/index/listCar.jpg" alt="">
            <div class="car_title">
              <p>斯巴鲁力狮2.0 CVT豪华版</p>
              <span class="price">25.48万</span>
            </div>
            <div class="car_content">
              <ul class="car_content_ul">
                <li>上牌:2010年</li>
                <li>里程:8万公里</li>
                <li>车源:济南市</li>
              </ul>
              <span>￥15.00 <i>万</i></span>
            </div>
          </a>
        </li>
      </ul>
      <div class="more">
        <span>查看更多车型</span>
      </div>
    </div>
  </div>
</div>
<!--车列表End-->

<!--特色服务-->
<div id="feature">
  <div class="width1200">
    <div class="feature_title">
      <h3>特色服务
        <span>Special service</span>
      </h3>
    </div>

    <div class="feature_two">
      <ul>
        <li>
          <img src="/static/images/index/icon_home_vip_selected.png" alt="">
          <div class="VIP">VIP定金找车</div>
          <i class="line"></i>
          <div class="content">
            预缴1000元委托金
            <p>即可办理VIP订金找车服务</p>
          </div>
        </li>
        <li>
          <img src="/static/images/index/icon_home_zuhe_selected.png" alt="">
          <div class="VIP">组合式帮卖</div>
          <i class="line"></i>
          <div class="content">
            以市场竞拍,网络竞价,直销,
            <p>寄售保底代销等方式为客户</p>
          </div>
        </li>
        <li>
          <img src="/static/images/index/icon_home_daiban_selected-.png" alt="">
          <div class="VIP">全程代办</div>
          <i class="line"></i>
          <div class="content">
            预缴1000元委托金
            <p>即可办理VIP订金找车服务</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--特色服务End-->

<!--购车流程-->
<div id="flow">
  <div class="width1200">
    <div class="feature_title">
      <h3>购车流程
        <span>Sales process</span>
      </h3>
    </div>

    <div class="flow_consult">
      <ul>
        <li>
          <div class="consulting">
            <p>01<span>了解咨询和预约</span>
            </p>
          </div>
        </li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>
<!--购车流程End-->


<!--内容End-->